.what-you-need-container {
    display: grid;
    gap: 8px; /* Space between grid items */
    padding: 8px;
  }
  
  .desktop-layout {
    grid-template-columns: 4fr 0.25fr 4fr; /* Columns in 4.5:1:4.5 ratio */
    grid-auto-rows: auto; /* Adjust row height automatically */
  }
  
  .mobile-layout {
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: 4fr 0.25fr 4fr;
  }
  
  .what-you-need-item {
    background-color: transparent;
    text-align: center;
    display: grid;
    align-items: center;
    gap: 8px; /* Space between grid items */
    padding: 8px; /* Default padding for desktop */
    padding-left: 90px; /* Padding for left on desktop */
    padding-right: 20px; /* Padding for right on desktop */
    grid-template-columns: repeat(2, 1fr); /* For desktop layout */
    grid-auto-rows: auto; /* Adjust row height automatically */
  }
  .what-you-need-item-onecol {
    grid-template-columns: repeat(1, 1fr);
  }
  .whatyouneedsvg{
    width: 300px;
    height: 300px;
  }  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .what-you-need-item {
      padding: 8px; /* Remove all padding for mobile */
      align-items: center;
    }
    .what-you-need-item .ant-avatar {
      width: 150px !important;
      height: 150px !important;
      align-self: center;
      margin: auto;
    }
    .whatyouneedsvg{
      width: 150px;
      height: 150px;
    }  
    
    .what-you-need-item .svg {
      transform: rotate(90deg); /* Apply 45-degree rotation */
      align-self: center;
      margin: auto;
    }
    
  }


