/* Scrollable Bar */
.scrollbar-scrollable-bar {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 46px;
    width: 80%;
    cursor: grab; /* Hand cursor when hovering */
    scroll-behavior: smooth; /* Smooth scrolling for programmatic navigation */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    overflow: auto; /* Enable scrolling */
    height: 100%; /* Ensure it takes up full height for vertical scroll */
}

.scrollbar-scrollable-horizontal {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
}

.scrollbar-scrollable-vertical {
    overflow-x: hidden; /* Disable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

.scrollbar-scrollable-bar::-webkit-scrollbar {
    display: none; /* Webkit browsers (Chrome, Safari, Edge) */
}

/* Scrollable Row */
.scrollbar-scrollable-row {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between items */
    flex: 0 0 auto; /* Prevent row from stretching */
}

/* Scrollable Item */
.scrollbar-scroll-item {
    background-color: transparent;
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 10px;
    text-align: center;
    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: 200px; /* Fixed width for each item */
    height: 200px; /* Fixed height for each item */
    margin: 0; /* Remove extra margins */
    margin-left: 15px; /* Remove extra margins */
    margin-right: 15px; /* Remove extra margins */
    flex-shrink: 0; /* Prevent shrinking */
}

.scrollbar-scrollable-item-video {
    border-radius: 10px;
    background-color: #000; /* Optional: Background color for video */
}

/* Description Row */
.scrollbar-description-row {
    text-align: center;
    line-height: 1.5;
    padding: 8px;
    font-size: var(--fs-md);
}

/* Specific Width Adjustments */
.scrollbar-scrollable-bar-shorter {
    width: 60%;
}

@media (max-width: 768px) {
    .scrollbar-description-row {
        font-size: var(--fs-sm);
    }

    .scrollbar-scrollable-bar-shorter,
    .scrollbar-scrollable-bar {
        width: 100%;
        margin-top: 28px;
    }

    .scrollbar-scroll-item {
        width: 130px; /* Smaller width for items on smaller screens */
        height: 130px; /* Smaller height for items on smaller screens */
        margin-left: 8px; /* Remove extra margins */
        margin-right: 8px; /* Remove extra margins */
    }

    .scrollbar-scroll-item-video {
        width: 130px; /* Ensure video fits smaller screens */
        height: 130px;
    }
}
