.clients-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

/* Scrollable Column */
.clients-scrollable-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    width: 100%;
    overflow-x: hidden; /* Ensure no overflow or scrollbars */
    position: relative; /* Ensure correct positioning */
}

/* Description Row */
.clients-description-row {
    text-align: center;
    line-height: 1.5;
    padding: 8px;
    font-size: var(--fs-md);
}
.clients-button-row {
    text-align: center;
}
@media (max-width: 768px) {
    .clients-description-row {
        font-size: var(--fs-sm);
    }
}