.tile-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: var(--alt-background-color);
    justify-content: space-around ;
    align-items: center;
  }
  .tile {
    background-color: var(--primary-color-light); /* Light gray background */
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025); /* Subtle shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer ;
    min-height: 100px;
    width: 355px ;
    /* max-height: 250px; */
    
  }
  .tile:hover {
    /* transform: translateY(-4px) ; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) ;
  }
  .tile:focus {
    outline: 3px solid var(--focus-color) ;
    outline-offset: 4px ;
  }
  
  .tile:active {
    transform: scale(0.98) ;
  }
  .tile-header {
    font-weight: 700 !important;
    font-size: 25px ;
    margin-top: 4px ;
    padding-bottom: 0px;
    border: none !important;
    background-color: transparent !important;
    text-align: left; /* Aligns the header to the left */
    align-items: flex-start; /* Ensures alignment consistency */
    line-height: 30.26px;
    color: var(--background-color);
    
}

.tile-body {
    font-size: 20px ;
    margin: 2px;
    padding-top: 0px;
    color: #505050;
    text-align:left; /* Justifies the text */
    line-height: 24.2px; /* Optional: improves readability */
}

.tile-footer {
    margin: 0px ;
    padding-top: 0px;
    font-size: 0.875rem ;
    color: var(--alternate-text-color) ;
    border: none ;
    background-color: transparent ;
}
@media (max-width: 768px) {
    .tile {
        width: 100%; /* Full-width on smaller screens */
    }
    .tile-container {
      padding: 20px;
    }
}