/* Basic styling for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .flag-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .dropdown-toggle.date {
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    border-radius: 12px;
  }
  /* .dropdown-toggle::after {
    content: '▼';
    font-size: 0.6rem;
    margin-left: 0.5rem;
  } */
  .dropdown-toggle.date::after {
    content: '' !important;
    display: inline-block;
    margin-right: 24px;
    font-size: 1.75rem;
    align-self: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  .dropdown-menu {
    /* display: none; */
    display: none;
    position: absolute;
    min-width: max-content;
    left: -12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    margin-top: 5px;
  }
  
  .dropdown-btn {
    cursor: pointer;
  }
  
  

  .show {display:block;}
