
.footer {
    background-color: transparent;
    padding: 3rem; /* Equivalent to Bootstrap's p-5 */
}
.footer-top,
.footer-bottom {
    padding-left: 3rem;
    padding-right: 3rem;
}


@media (max-width: 768px) { /* Target screens smaller than 768px */
    .footer {
        padding: 8px; /* Reduced padding for smaller screens */
        padding-top: 3rem;
    }
    .footer-top,
    .footer-bottom{
        padding-left: 8px;
        padding-right: 8px;
    }
    
}
  