
/* Button Styles */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    max-height: 34px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
  }
  
  /* Icon Adjustments */
  .button .start-icon {
    margin-right: 8px;
  }
  
  .button .end-icon {
    margin-left: 8px;
  }
  .button:focus {
    outline-offset: 4px;
  }
  .button:active {
    transform: scale(0.98); /* Slight shrink effect */
  }
  /* Contained Buttons */
  /* Contained Primary Button */
  .button-contained-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--black);
  }
  .button-contained-primary:hover,
  .button-contained-secondary:hover {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  
  .button-contained-primary:focus {
    outline: 2px solid var(--primary-color-light); /* Visible focus indicator */
  }
  .button-contained-primary:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
  }
  
  .button-contained-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
  }
  
  .button-contained-secondary:focus {
    outline: 2px solid var(--secondary-color-light); /* Visible focus indicator */ 
  }
  
  .button-contained-secondary:active {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
  }
  
  .button-contained-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: var(--white);
  }
  .button-contained-danger:hover {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  
  .button-contained-danger:focus {
    outline: 2px solid var(--danger-color-light); /* Visible focus indicator */
  }
  .button-contained-danger:active {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: var(--white);
  }
  .button-contained-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--white);
  }
  .button-contained-success:hover {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  
  .button-contained-success:focus {
    outline: 2px solid var(--success-color-light); /* Visible focus indicator */
  }
  .button-contained-success:active {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--white);
  }
  
  .button-contained-warning {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
    color: var(--alternate-text-color);
  }
  .button-contained-warning:hover {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  
  .button-contained-warning:focus {
    outline: 2px solid var(--warning-color-light); /* Visible focus indicator */
  }
  .button-contained-warning:active {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
    color: var(--alternate-text-color);
  }
  /* Outlined Buttons and links */
  .button-link-outlined-primary,
  .button-outlined-primary {
    background-color: var(--white);
    border-color: var(--primary-color);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-primary:hover,
  .button-outlined-primary:hover{
    background-color: var(--primary-color);
    color: var(--white);
  }
  .button-link-outlined-primary:focus,
  .button-outlined-primary:focus {
    outline: 2px solid var(--primary-color-light); /* Visible focus indicator */
  }
  .button-link-outlined-primary:active,
  .button-outlined-primary:active {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-secondary,
  .button-outlined-secondary{
    background-color: var(--white);
    border-color: var(--secondary-color);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-secondary:hover,
  .button-outlined-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--white);
  }
  .button-link-outlined-secondary:focus,
  .button-outlined-secondary:focus {
    outline: 2px solid var(--secondary-color-light); /* Visible focus indicator */
  }
  .button-link-outlined-secondary:active,
  .button-outlined-secondary:active {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-danger,
  .button-outlined-danger {
    background-color: var(--white);
    border-color: var(--danger-color);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-danger:hover,
  .button-outlined-danger:hover{
    background-color: var(--danger-color);
    color: var(--white);
  }
  .button-link-outlined-danger:focus,
  .button-outlined-danger:focus {
    outline: 2px solid var(--danger-color-light); /* Visible focus indicator */
  }
  .button-link-outlined-danger:active,
  .button-outlined-danger:active {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-success,
  .button-outlined-success {
    background-color: var(--white);
    border-color: var(--success-color);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-success:hover,
  .button-outlined-success:hover{
    background-color: var(--success-color);
    color: var(--white);
  }
  .button-link-outlined-success:focus,
  .button-outlined-success:focus {
    outline: 2px solid var(--success-color-light); /* Visible focus indicator */
  }
  .button-link-outlined-success:active,
  .button-outlined-success:active {
    background-color: var(--white);
    color: var(--alternate-text-color);
  }
  .button-outlined-warning,
  .button-link-outlined-warning {
    background-color: var(--white);
    border-color: var(--warning-color);
    color: var(--alternate-text-color);
  }
  .button-link-outlined-warning:hover,
  .button-outlined-warning:hover {
    background-color: var(--warning-color);
  }
  .button-link-outlined-warning:focus,
  .button-outlined-warning:focus {
    outline: 2px solid var(--warning-color-light); /* Visible focus indicator */
  }
  .button-link-outlined-warning:active,
  .button-outlined-warning:active {
    background-color: var(--white);
  }
  /* Link Buttons */
  
  .button-link-contained-primary {
    background-color: var(--link-primary-color);
    border: 1px solid var(--link-primary-color);
    color: var(--alternate-text-color);
  }
  .button-link-contained-primary:hover {
    background-color: var(--link-primary-color-light);
    color: var(--alternate-text-color);
  }
  
  .button-link-contained-primary:focus {
    outline: 2px solid var(--link-primary-color-light); /* Visible focus indicator */
  }
  .button-link-contained-primary:active {
    background-color: var(--link-primary-color);
    border-color: var(--link-primary-color);
  }
  .button-link-contained-secondary {
    background-color: var(--link-secondary-color);
    border: 1px solid var(--link-secondary-color);
    color: var(--white);
  }
  
  .button-link-contained-secondary:hover {
    background-color: var(--link-secondary-color-light);
    color: var(--alternate-text-color);
  }
  
  .button-link-contained-secondary:focus {
    outline: 2px solid var(--link-secondary-color-light); /* Visible focus indicator */
  }
  .button-link-contained-secondary:active {
    background-color: var(--link-secondary-color);
    border-color: var(--link-secondary-color);
    color: var(--white);
  }
  
  .button-link-contained-danger {
    background-color: var(--link-danger-color);
    border: 1px solid var(--link-danger-color);
    color: var(--white);
  }
  
  .button-link-contained-danger:hover {
    background-color: var(--link-secondary-color-light);
    color: var(--alternate-text-color);
  }
  
  .button-link-contained-danger:focus {
    outline: 2px solid var(--link-danger-color-light); /* Visible focus indicator */
  }
  .button-link-contained-danger:active {
    background-color: var(--link-danger-color);
    border-color: var(--link-danger-color);
    color: var(--white);
  }
  .button-link-contained-success {
    background-color: var(--link-success-color);
    border: 1px solid var(--link-success-color);
    color: var(--white);
  }
  
  .button-link-contained-success:hover {
    background-color: var(--link-success-color-light);
    color: var(--alternate-text-color);
  }
  
  .button-link-contained-success:focus {
    outline: 2px solid var(--link-success-color-light); /* Visible focus indicator */
  }
  .button-link-contained-success:active {
    background-color: var(--link-success-color);
    border-color: var(--link-success-color);
    color: var(--white);
  }
  .button-link-contained-warning {
    background-color: var(--link-warning-color);
    border: 1px solid var(--link-warning-color);
    color: var(--alternate-text-color);
  }
  
  .button-link-contained-warning:hover {
    background-color: var(--link-warning-color-light);
  }
  
  .button-link-contained-warning:focus {
    outline: 2px solid var(--link-warning-color-light); /* Visible focus indicator */
  }
  .button-link-contained-warning:active {
    background-color: var(--link-warning-color);
  }
  
  
  /* Disabled State */
  .button:disabled,
  .button[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    background-color: var(--disabled-color);
    border-color: var(--disabled-color);
    color: var(--secondary-color);
  }
  
/* Loading Spinner */
.button-spinner-border {
    width: 18px !important;
    height: 18px !important;
    margin-right: 8px;
    border: 1px solid black !important; /* Set the border color */
    border-top-color: transparent !important; /* Set the top border color */
    border-radius: 50%; /* Make it a circle */
    animation: spinner 0.75s linear infinite; /* Apply the spinning animation */
}
  
/* Define the keyframes for the spinner animation */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
