.ant-select-outlined {
    height: 36px !important;
    border: 1px solid #f0f4f7 !important;
    background-color: #f0f4f7 !important;
    border-radius: 8px !important;
    margin: 0px !important;
    color: var(--alternate-text-color) !important;
    outline: none !important; /* Remove default blue outline */
    box-shadow: none !important;
    font-size: var(--fs-md) !important;
    transition: all 0.3s ease; /* Smooth color transition */
}
.ant-select-selector {
    border: 1px solid transparent !important;
    background-color: #f0f4f7 !important;
    border-radius: 8px !important;
    margin: 0px !important;
    border: none !important;
    outline: none !important; /* Remove default blue outline */
    box-shadow: none !important;
}

.ant-select-outlined:focus,
.ant-select-focused,
.ant-select-outlined-focused, 
.ant-select-outlined-active,
.ant-select-active,
.ant-select-outlined:active {
    background-color: white !important;
    border: 1px solid var(--background-color) !important;
}

.ant-select-outlined:focus .ant-select-selector,
.ant-select-focused .ant-select-selector,
.ant-select-outlined-focused .ant-select-selector, 
.ant-select-outlined-active .ant-select-selector,
.ant-select-active .ant-select-selector,
.ant-select-outlined:active .ant-select-selector {
    background-color: white !important;
}

.ant-select:hover,
.ant-select-outlined:hover {
    cursor: pointer !important;
}