@media (min-width: 768px) {
  .col-md-6:first-child {
    flex: 0 0 60%; /* Left part takes 60% */
  }
  .col-md-6:last-child {
    flex: 0 0 40%; /* Right part takes 40% */
  }
}
.hpt {
  overflow-x: auto;
  white-space: nowrap;
}
.homepage-testimonies{
  border-radius: 20px;
  background-color: var(--secondary-color) !important;
  width: 550px !important;
  flex-shrink: 0;
  white-space: normal; /* Allow wrapping to the next line */
  
}
@media (max-width: 768px) {
  .homepage-testimonies{
    width: 100% !important;
  }
}
.homepage-testimonies-name {
  margin-left: 20px;
}
.homepage-testimonies-writeup {
  border: dashed;
  border-color: var(--white);
  margin:4px;
  padding: 4px;
  height: 98%;
}