.navbar {
  padding-top: 40px;
  top: 30px;
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .navbar {
    top: 30px;
  }
}

.navbar-logo {
  transition: transform 0.3s ease-in-out;
  color: var(--alt-background-color);
}

.navbar-title {
  color: var(--alt-background-color);
}

.header-scrolled {
    padding: 10px 20px; /* Reduced padding for scrolled state */
    transition: padding 0.3s ease-in-out;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.header-scrolled .navbar-logo {
  transform: scale(0.9); /* Slightly shrink logo */
  transition: transform 0.3s ease-in-out;
}
  
