/* ImageLoader.css */
/* Define the fade-in and fade-out animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Define the fade-in and fade-out animation with a delay */
@keyframes fadeInOutDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Merged styles for regular and outlined input fields */
.ant-input-outlined,
.ant-input-outlined:focus,
.ant-input-outlined-focused, 
.ant-input-outlined-active,
.ant-input-outlined:active,
.ant-picker-outlined,
.ant-picker-outlined:focus,
.ant-picker-outlined-focused, 
.ant-picker-outlined-active,
.ant-picker-outlined:active,
.ant-select-outlined,
.ant-select-outlined:focus,
.ant-select-focused,
.ant-select-outlined-focused, 
.ant-select-outlined-active,
.ant-select-active,
.ant-select-outlined:active,
.ant-select-selector  {
  height: 45px !important;
  border: 1px solid transparent !important;
  background-color: white !important;
  border-radius: var(--border-radius) !important;
  color: var(--primary-color) !important;
  outline: none !important; /* Remove default blue outline */
  box-shadow: none !important;
}

/* Hover state for both regular and outlined inputs and form item controls */
.ant-input:hover,
.ant-input-outlined:hover,
.ant-select:hover,
.ant-select-outlined:hover {
  cursor: pointer !important;
}
.ant-pagination-item{
  border: 1px solid var(--background-color) !important;
  background-color: var(--alt-background-color) !important;
  border-radius: var(--border-radius)  !important;
  color: var(--background-color) !important;
  outline: none !important; /* Remove default blue outline */
  box-shadow: none !important;
}

.ant-pagination-next:hover,
.ant-pagination-previous:hover,
.ant-pagination-item-link:hover {
  border-radius: var(--border-radius) !important;
}

.ant-pagination-item-ellipsis {
  color: var(--background-color) !important; /* Change color of ellipsis to match background */
}
.ant-pagination-item-active{
  background-color: var(--primary-color) !important;
}
.ant-pagination-item a{
  color: var(--background-color) !important;
}

.ant-form-item-control-input-content {
  display: flex;
  flex-direction: column; /* Or 'row' depending on your layout */
  align-items: flex-start; /* Align children to the start */
}
/* Style for checked radio button */
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
  width: 16px !important;
  height: 16px !important;
}

/* Hover effect on checked radio button */
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner:hover {
  border: 1px solid var(--secondary-color) !important;
}

/* Unchecked radio button state */
.ant-radio-inner {
  border: 1px solid var(--alt-background-color) !important;
  width: 16px !important;
  height: 16px !important;
}

/* Hover effect on unchecked radio button */
.ant-radio:hover .ant-radio-inner {
  border-color: var(--secondary-color) !important;
}

/* Focus state of radio button (both checked and unchecked) */
.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: 0 0 0 2px rgba(var(--secondary-color), 0.2) !important; /* Adding slight shadow for focus state */
}
.ant-checkbox-wrapper{
  color: var(--primary-color) !important;
  align-self: flex-start !important; /* Align checkbox to the left inside flex container */
}

/* Style for checked checkbox */
.ant-checkbox-checked .ant-checkbox-inner {
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--background-color) !important;
  border-radius: var(--border-radius)  !important;
  width: 16px !important;
  height: 16px !important;
}

/* Hover effect on checked checkbox */
.ant-checkbox-checked .ant-checkbox-inner:hover {
  border: 1px solid var(--background-color) !important;
}

/* Unchecked checkbox state */
.ant-checkbox-inner {
  border: 1px solid var(--alt-background-color) !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: var(--border-radius)  !important;
}

/* Hover effect on unchecked checkbox */
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--secondary-color) !important;
}

/* Focus state of checkbox (both checked and unchecked) */
.ant-checkbox-input:focus + .ant-checkbox-inner {
  box-shadow: 0 0 0 2px rgba(var(--secondary-color), 0.2) !important; /* Slight shadow for focus state */
}

/* Indeterminate state of checkbox */
.ant-checkbox-indeterminate .ant-checkbox-inner {
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
}

/* Indeterminate hover effect */
.ant-checkbox-indeterminate:hover .ant-checkbox-inner {
  border-color: var(--secondary-color) !important;
}

.ant-btn{
  background-color: var(--primary-button-background-color) !important;
  border-color: var(--primary-button-background-color) !important;
  color: white !important;
  height: 45px !important;
  border-radius: var(--btn-radius) !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  padding: 16px 32px;
}
.outline-btn{
  background-color: white !important;
  border-color: var(--primary-button-background-color) !important;
  color: var(--alternate-text-color) !important;
  height: 45px !important;
  border-radius: var(--btn-radius) !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  padding: 16px 32px; /* Corrected padding */
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out; /* Add transition effect */
}

.outline-btn:hover {
  box-shadow: 0 0 20px #1E1E1E, 0 0 30px rgba(0, 123, 255, 0.6); /* Shockwave effect */
  transform: scale(1.05); /* Slight scaling on hover */
}


.ant-form-item-label,
.ant-form-item-label .ant-form-item-required {
  color: var(--primary-color) !important;
}
.ant-modal-content{
  border-radius: var(--border-radius) !important;
}

.ant-timeline-item-head{
  border-color: var(--secondary-color) !important;
}

.image-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%); /* Center the container */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center images horizontally */
  width: auto; 
  height: auto;
}

.image-loader img {
  display: block; /* Ensure images are block-level for animation */
}

/* First image fade-in and fade-out effect */
.image-loader .image-one {
  animation: fadeInOut 6s infinite; /* First image fades in and out infinitely */
}
.loader-footer {
  background-color: white !important; /* Ensure white background */
}

/* Second image position and delayed fade-in and fade-out effect */
.loader-footer .image-two {
  position: absolute;
  bottom: 10%; /* Position at the bottom of the screen */
  left: 50%;
  transform: translateX(-50%); /* Center the image horizontally */
  animation: fadeInOutDelayed 6s 3s infinite; /* Second image fades in and out infinitely with a 3s delay */
}

.gradient-bg{
  background-image: linear-gradient(to bottom right, var(--white), var(--primary-color), var(--background-color));
  /* color: whitesmoke; */
}

.notfound{
  background-color: var(--background-color);
  color: var(--primary-color) !important;
  width: 100%;
  height: 100%;
}
.explore,
.marketplace,
.cart,
.map,
.user {
  background-color: var(--white) !important;
  color: var(--primary-color) !important;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: stretch; /* Make children stretch to fill the container */

}
.signup {
  background-color: var(--background-color);
  color: var(--primary-color) !important;
  padding: 24px;
}
.title {
  font-weight: 600; /* Semi-bold weight */
  font-size: 30px; /* Font size 30px */
  line-height: 36px; /* Line height 36px */
  color: white !important;
}
.semititle {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-decoration:'none';
    color: white !important;
    
}
.minititle {
  color: var(--primary-color);
}
a {
  text-decoration: none; /* Removes underline */
  color: white !important;
}

.text-dark {
  color: var(--background-color) !important;
}
.text-light {
  color:var(--primary-color) !important;
}
.bigpadding {
  padding: 100px;
  width: 60%;
  min-width: 900px;
  margin: 0 auto; /* Center horizontally */
  display: block; /* Ensure it's treated as a block element */
  position: relative; /* Optional: if you need to position it */
  top: 50%; /* Optional: if you want to center vertically within a parent with height */
  transform: translateY(-50%); /* Optional: to adjust for vertical centering */
}


@media (max-width: 768px) {  /* Adjust the breakpoint as needed */
  .bigpadding {
    padding: 4px;          /* Smaller padding for mobile */
    width: 100%;             /* Optionally change the width for mobile */
    min-width: auto;        /* Remove min-width if necessary for mobile */
  }
}

.authheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fixes the header at the top */
  top: 0; /* Aligns it to the top */
  left: 0;
  right: 0; /* Makes it full width */
  padding: 10px 20px; /* Adds padding for spacing */
  z-index: 999; /* Ensures it stays on top */
}

/* Additional styling for responsiveness (optional) */
@media (max-width: 768px) {
  .authheader {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}
.forgot-password-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  background-color: var(--background-color);
  justify-content: space-between; /* Ensure items are spaced appropriately */
}

.forgot-password-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
  min-height: 'calc(100vh- 30px)';
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important; /* Add box shadow */
}

.forgot-password-form {
  width: 100%;
  max-width: 400px; /* Limit the form width */
  margin: 0 auto;
  margin-top: 70px;
}

.forgot-password-submit {
  
  margin-top: auto; /* Push the button to the bottom of the form */
  margin-top: 200px;
}

@media (max-width: 768px) {
  .forgot-password-form {
    width: 100%;
  }
}

.bottomnavbar{
  border-radius: 32px !important;
  font-size: 16px;
  font-weight: 600;
  height: 58px;
  bottom: 24px;
  background-color: var(--background-color) !important;
  margin-left: 8px;
  margin-right: 8px;
}

.nav-icons {
  color: var(--primary-color); /* Default color */
  font-size: 24px;
  transition: color 0.3s ease; /* Smooth color transition */
}

.topbar{
  background-color: var(--background-color);
}
.searchcontainer{
  margin-top: 60px;
}


.number,
.number:focus,
.number:active,
.ant-picker-outlined,
.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-select-selector {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--white) !important;
  color: var(--background-color) !important;
}
.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid transparent !important;
}
.ant-picker-cell-today .ant-picker-cell-inner {
  border: 1px solid var(--background-color) !important;
  background-color: var(--primary-color) !important;
  color: white !important;
}
.ant-picker-now .ant-picker-now-btn {
  color: var(--background-color) !important;
}
.body-container{
  background-color: var(--alt-background-color);
  padding: 0px;
  margin: 0px;
  margin-bottom: 90px;
}
.tophorizontal-scroller {
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  width: 100%; /* Full width */
  height: 40px; /* Set height */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

/* Hide scrollbar on mobile and tablet */
.tophorizontal-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.topscrollable-content {
  display: flex; /* Ensure items are in a row */
  align-items: center; /* Center items vertically */
  width: 100%;
}

.topscrollitem {
  display: inline-flex; /* Use inline-flex to center text */
  padding: 4px 8px; /* Add horizontal padding for better spacing */
  margin-inline-end: 4px; /* Space between items */
  background: var(--primary-color); /* Example background */
  border: 1px solid var(--background-color); /* Example border */
  color: var(--primary-text-color);
  border-radius: var(--border-radius);
  white-space: nowrap; /* Prevent line breaks within items */
  text-align: center; /* Center text horizontally */
  font-weight: 500;
  min-width: 80px; /* Set a minimum width to ensure consistent sizing */
  flex-shrink: 0; /* Prevent items from shrinking */
  cursor: pointer;
}

.middlehorizontal-scroller {
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  width: 100%; /* Full width */
  height: auto; /* Set height */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0px;
}

/* Hide scrollbar on mobile and tablet */
.middlehorizontal-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.middlescrollable-content {
  display: flex; /* Ensure items are in a row */
  align-items: center; /* Center items vertically */
  width: 100%;
}


.bottomhorizontal-scroller {
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  width: 100%; /* Full width */
  height: auto; /* Set height */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0px;
}

/* Hide scrollbar on mobile and tablet */
.bottomhorizontal-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.bottomscrollable-content {
  display: flex; /* Ensure items are in a row */
  align-items: center; /* Center items vertically */
  width: 100%;
}
.middlevertical-scroller {
  overflow-y: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  width: 100%; /* Full width */
  height: auto; /* Set height */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0px;
  flex-direction: column;
}

/* Hide scrollbar on mobile and tablet */
.middlevertical-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.middleverticalscrollable-content {
  display: flex; /* Ensure items are in a row */
  align-items: center; /* Center items vertically */
  width: 100%;
}

.ant-card,
.card{
  border-radius: var(--border-radius) !important;
}
.ant-card-body,
.card-body{
  padding: 8px !important;
}
.card-text{
  text-align: justify !important;
}
.price{
  color: var(--warning);
  font-weight: 700;
}

/* home.css */

.mini-navbar{
  margin-top: 60px;
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--white);
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px; /* Adjust the gap as needed */
}

.grid-image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius); /* Optional: Add border-radius for rounded corners */
}
.horizontal-scroller {
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px;
  margin: 8px;
  background-color: var(--white);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.horizontal-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.scroll-content {
  display: inline-block;
}

.-scroll-item {
  display: inline-block;
  min-width: 140px;
  max-width: 140px;
  height: 200px;
  background-color: var(--white);
  color: var(--background-color);
  margin-right: 10px;
  text-align: center;
  line-height: 100px;
  border-radius: var(--border-radius);
  
}
.-scroll-item img {
  width: 130px;
  height:94px;
}
.-scroll-item-one {
  display: inline-block;
  height: 200px;
  background-color: var(--white);
  color: var(--background-color);
  margin-right: 10px;
  text-align: center;
  line-height: 100px;
  border-radius: var(--border-radius);
}
.-scroll-item-one img {
  width: 300px;
  height:200px;
}
.option-content {
  display: inline-block;
  padding: 0;
}

.-option-item {
  display: inline-block;
  min-width: 140px;
  max-width: 140px;
  height: 0px;
  color: var(--background-color);
  margin-right: 10px;
  text-align: center;
  border-radius: var(--border-radius);
  
}

.showcase{
      
      /* Set a specific height */
      height: 70vh;

      padding: 80px 0;
    
      /* Create the parallax scrolling effect */
      /* background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   */
      color: var(--white);
      width: auto;
}

.showcase-pic{
    background: url('./assets/CIPAC_cover_photo.jpg');
    max-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.showcase h1,
.showcase h1{
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 30px;
    
}

.showcase p
.showcase small{
    font-size: 1.2em;
    line-height: 30px;
    margin-bottom: 30px;
}

/* footer.css */

footer{
  background: var(--background-color);
  color: var(--white);
}

.footer-listitem{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-self: left;
}
.footer-listitem:hover{
  color: var(--primary-text-color);
}
.footer-listitem:active{
  color: var(--primary-text-color);
}

.store-list-item {
  padding: 8px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.store-list-item a{
  text-decoration: none;
  color: var(--white);
  padding: 16px;
  font-weight: bold;
  width: '100%';
  border:1px solid var(--white);
  border-radius: var(--border-radius);
}
.store-list-item a:hover{
  border-color: var(--primary-text-color);
}
.store-list-item a img{
  margin-bottom: 8px;
  margin-right: 4px;
  width:40px;
}
.bottom{
  text-decoration: none;
  color: var(--primary-text-color);
  margin-right: 8px;
}
.fadeup-dark-bg {
  background: linear-gradient(to top, black, white); /* Gradient from black at the bottom to white at the top */
  height: 100%; /* Full-screen height for example */
  width: 100%; /* Full width */
  box-shadow: #1E1E1E;
}

/* partners swiper */

.myPartners {
  width: auto;
  height: 150px;
}

.myPartners-swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  width: 150px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--background-color);
  border-radius: var(--border-radius);
}
.need-img {
  border: 0.5px solid var(--background-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.separator{
  background-color: var(--white);
  height:8px;
  width: '100%';
  margin: '20px';
}
.client-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
}

/* For tablets or medium-sized screens */
@media (max-width: 768px) {
  .client-grid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* For mobile or small-sized screens */
@media (max-width: 480px) {
  .client-grid {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.client-item {
  flex-basis: 30%; /* Three per line */
  margin: 10px 0; /* Margin between rows */
  text-align: center;
}



