/* src/index.css or any global CSS file */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

:root{
  --primary-color: #979797; /* Example primary color */
  --primary-color-light: #d1d1d1;
  --secondary-color: #50555C; /* Example secondary color */
  --secondary-color-light:#919ba8;
  --danger-color:#DC3545;
  --danger-color-light:#dd7e88;
  --success-color:#198754;
  --success-color-light:#7dab96;
  --warning-color:#FBA70D;
  --warning-color-light:#f9dba2;
  --link-primary-color: #ACDDFC;
  --link-primary-color-light:#dff3ff;
  --link-secondary-color: #5d92b3;
  --link-secondary-color-light:#86d1ff;
  --link-danger-color:var(--danger-color);
  --link-danger-color-light:var(--danger-color-light);
  --link-success-color:var(--success-color);
  --link-success-color-light:var(--success-color-light);
  --link-warning-color:var(--warning-color);
  --link-warning-color-light:var(--warning-color-light);
  --info-color:var(--link-primary-color);
  --info-color-light:var(--link-primary-color-light);
  --background-color: #1E1E1E;
  --alt-background-color: #f1f1f1;

  --primary-text-color: #ecf0f1; /* Example text color */
  --alternate-text-color: #1E1E1E;

  --modal-background-color: #747474;
  --icon-background-color:var(--modal-background-color);

  --primary-button-background-color:var(--primary-color);
  --secondary-button-background-color:var(--modal-background-color);

  --white:#ffffff;
  --black:#1E1E1E;
  --warning: #FBA70D;
  --focus-color:var(--background-color);
  
  --disabled-color: #d1d1d1;


  --border-radius:1px;
  --border-color: #DADADA;
  --btn-radius: 2px;
  
}
#root {
  width: 100%;
  height: 100%;
  /* background-color: var(--background-color); */
  
}
.icon-path {
  transition: stroke 0.3s, font-weight 0.3s; /* Smooth transition */
}
