.ant-tabs {
    border-radius: 8px !important;
}
.ant-tabs-nav {
    margin-bottom: 0px !important;
    background-color: white !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    padding-right: 10px !important;
}
.ant-tabs-nav-wrap {
    padding: 4px !important;
}
.ant-tabs-nav-list {
    display: flex !important;
    justify-content: space-evenly !important;
    align-content: space-around !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}


.ant-tabs-tab  {
    padding: 6px 12px !important;
    border-radius: 6px !important;
    transition: all 0.3s !important;
}
.ant-tabs-tab :hover {
    cursor: pointer;
}
.ant-tabs-tab-active {
    background-color: var(--primary-color) !important;
    
}
.ant-tabs-ink-bar {
    visibility: hidden !important;
}